data/*
!data/.gitkeep

*.o
*.orig
*.swp
*.gch
*.out
*.cpp_o
*.cu_o

/cuda/backprop/backprop
/cuda/bfs/bfs
/cuda/b+tree/b+tree
/cuda/cfd/pre_euler3d
/cuda/cfd/euler3d
/cuda/cfd/euler3d_double
/cuda/cfd/pre_euler3d_double
/cuda/dwt2d/dwt2d
/cuda/gaussian/gaussian
/cuda/heartwall/heartwall
/cuda/hotspot/hotspot
/cuda/hotspot3D/hotspot3D
/cuda/huffman/huffman
/cuda/hybridsort/hybridsort
/cuda/kmeans/kmeans
/cuda/lavaMD/lavaMD
/cuda/leukocyte/CUDA/leukocyte
/cuda/lud/cuda/lud_cuda
/cuda/mummergpu/bin/mummergpu
/cuda/myocyte/myocyte
/cuda/nn/hurricane_gen
/cuda/nn/nn
/cuda/nw/needle
/cuda/particlefilter/particlefilter_float
/cuda/particlefilter/particlefilter_naive
/cuda/pathfinder/pathfinder
/cuda/srad/srad_v1/srad
/cuda/srad/srad_v2/srad
/cuda/streamcluster/sc_gpu

/bin

/opencl/backprop/backprop
/opencl/bfs/bfs
/opencl/b+tree/b+tree
/opencl/cfd/euler3d
/opencl/hotspot/hotspot
/opencl/kmeans/kmeans
